<p>tutorial 3</p>

{% assign number = 10 %}

{% if number > 10 %}
  <p>Variable is greater than 10</p>
{% elsif number > 5 %}  
    <p>Variable is less than 5</p>
{% else %} 
    <p>Variable is less than 10</p>
{% endif %}

<p>{{ product.title }}</p>
<p>{{ product.tags }}</p>

{% if product.title contains "Snowboard" %}
  <p>this is a Snowboard</p>
{% endif %}

{% unless product.title contains "premium" %}
  <p>title not contains premium</p>
{% endunless %}

{% case product.type %}
  {% when 'snowboard' %}
    <p>This is a snowboard</p>
  {% when second_value %}
    
  {% else %}
    
{% endcase %}