<style>
  .hshp-carousel {
    position: relative;
    overflow: hidden;
    width: 100%;
  }

  .hshp-image-container {
    display: flex;
    transition: transform 0.5s ease-in-out;
  }

  .hshp-image-container img {
    flex-shrink: 0;
    width: 100%;
  }

  .hshp-carousel-button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: transparent;
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    z-index: 10;
    font-size: 24px;
  }

  .hshp-carousel-button.left {
    left: 10px;
  }

  .hshp-carousel-button.right {
    right: 10px;
  }
</style>

<div class="hshp-carousel">
  <div class="hshp-image-container">
    {% for block in section.blocks %}
      {{ block.settings.image_settings | image_url: width: 1500 | image_tag: class: "carousel-image" }}
    {% endfor %}
  </div>
  <button class="hshp-carousel-button left">&#10094;</button>
  <button class="hshp-carousel-button right" >&#10095;</button>
</div>

<script>
  document.addEventListener("DOMContentLoaded", function() {
    const container = document.querySelector('.hshp-image-container');
    let currentIndex = 0;
    const slides = container.children;
    const totalSlides = slides.length;
  
    function moveSlide(direction) {
      currentIndex = (currentIndex + direction + totalSlides) % totalSlides;
      container.style.transform = `translateX(-${currentIndex * 100}%)`;
    }

    document.querySelector('.hshp-carousel-button.left').addEventListener('click', () => moveSlide(-1));
    document.querySelector('.hshp-carousel-button.right').addEventListener('click', () => moveSlide(1));

  
    if (totalSlides > 1) {
      setInterval(() => moveSlide(1), 5000);
    }
  });
</script>

{% schema %}
{
  "name": "Hero Section Home Page",
  "settings": [],
  "blocks": [
    {
      "type": "image",
      "name": "Image Slide",
      "settings": [
        {
          "type": "image_picker",
          "label": "Upload Image",
          "id": "image_settings"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Hero Section Home Page",
      "category": "Custom Section"
    }
  ]
}
{% endschema %}
